.plotContainer .OCRText,
.plotContainer .OCRHandle {
  cursor: row-resize;
}
.plotContainer .OCRText {
  cursor: row-resize;
  /* stroke-width: 0; */
  stroke: white;
  cursor: row-resize;
}

.plotContainer .OCRHandle {
  stroke-width: 30;
  opacity: 0.03;
}

.plotContainer line.OCR {
  fill: none;
  stroke-dasharray: 10;
  stroke-width: 1;
  opacity: 0.7;
}

.plotContainer .OCR0A,
.plotContainer .OCR1A,
.plotContainer .OCR2A,
.plotContainer .OCR3A {
  color: darkred;
  stroke: darkred;
}

.plotContainer .OCR0B,
.plotContainer .OCR1B,
.plotContainer .OCR2B,
.plotContainer .OCR3B {
  color: darkolivegreen;
  stroke: darkolivegreen;
}
.plotContainer .OCR0C,
.plotContainer .OCR1C,
.plotContainer .OCR2C,
.plotContainer .OCR3C {
  color: darkslategray;
  stroke: darkslategray;
}
.plotContainer .ICR0,
.plotContainer .ICR1,
.plotContainer .ICR2,
.plotContainer .ICR3 {
  color: darkorange;
  stroke: darkorange;
}

.plotContainer .DTR0L,
.plotContainer .DTR1L,
.plotContainer .DTR2L,
.plotContainer .DTR3L {
  color: blue;
  stroke: blue;
}

.plotContainer .DTR0H,
.plotContainer .DTR1H,
.plotContainer .DTR2H,
.plotContainer .DTR3H {
  color: blueviolet;
  stroke: blueviolet;
}
