.plotContainer {
  width: 100%;
  height: 100%;
}
.plotContainer .frequency {
  position: absolute;
  right: 0;
}
.plotContainer svg.plot {
  width: 100%;
  height: 100%;
}

.plotContainer text {
  font-size: 14px;
  paint-order: stroke;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.axis.domain {
  fill: rgba(0, 0, 0, 0.2);
  stroke: grey;
  stroke-width: 2;
}

.axis.y text {
  font-size: 14px;
}

.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  opacity: 0.3;
  stroke-dasharray: 5;
}
