.plotContainer {
  width: 100%;
  /* height: 200px; */
  height: 500px;
}
.plotContainer svg.plot {
  width: 100%;
  height: 100%;
}

.plotContainer text {
  font-size: 14px;
  paint-order: stroke;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.plotContainer path {
  stroke-width: 1;
  fill: none;
}
.plotContainer path.plot-area-TCNT {
  stroke: steelblue;
  /* stroke-width: 3; */
}

.plotContainer path.plot-area-0 {
  stroke: darkred;
  /* fill: lightcoral; */
}

.plotContainer path.plot-area-1 {
  stroke: darkgreen;
  /* fill: lightgreen; */
}

.plotContainer path.plot-area-2 {
  stroke: darkblue;
  /* fill: lightblue; */
}

.axis.domain {
  fill: rgba(0, 0, 0, 0.2);
  stroke: grey;
  stroke-width: 2;
}

.axis.y text {
  font-size: 14px;
}

.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  opacity: 0.3;
  stroke-dasharray: 5;
}
