html,
body {
  overscroll-behavior-y: none;
}
.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #f7f7fa;
}
.github-fork-ribbon:before {
  background-color: #3498ff !important;
}
