.TimerSetup {
  font-size: smaller;
}
.TimerSetup .rs-panel-heading {
  padding: 12px;
  padding-bottom: 5px;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px solid #e5e5ea;
}

.TimerSetup .rs-col {
  margin-bottom: 10px;
}
.TimerSetup .rs-checkbox-checker {
  padding-left: 34px;
  min-height: 33px;
}

.TimerSetup .rs-panel {
  margin: 5px;
}

.TimerSetup .rs-checkbox-inline {
  margin-left: 0;
}
.TimerSetup .rs-checkbox-group-inline {
  margin-left: 0;
}
.TimerSetup .rs-panel-body {
  padding: 10px;
}
