.TimerSetup {
  font-size: smaller;
}
.TimerSetup .rs-panel-heading {
  padding: 12px;
  padding-bottom: 5px;
  font-size: 13px;
}

.rs-col {
  margin-bottom: 10px;
}
.rs-checkbox-checker {
  padding-left: 34px;
  min-height: 33px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.rs-panel {
  margin: 5px;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
